SCRIPT_DIR="$HOME/.local/harbor/automation/lzyboi"
LIB="$SCRIPT_DIR/lib"
DATA_DIR="$SCRIPT_DIR/data"
DP_DIR="$DATA_DIR/datadumps"
DP="lzyboi_datadump_TEST_000"
TOOLS_DIR="$DATA_DIR/tools"
# 0: Say, 1: Silent, 2: Say/No save
MODE='2'
